.main-toggle-menu{
    position: fixed;
    background-color: white;
    z-index: 5;

    border-radius:3px ;
    width: 200px;
right: auto;

    top: 70px;
    animation: toggleAnimation .1s ease-out;
    padding-bottom: 25px;
    padding-top: 5px;

}
.toggle-box{

    height: 40px;
    text-align: center;
    border-radius: 5px;
    border: .6px solid rgba(57, 56, 56, 0.154);
    margin: 1px;
}
.toggle-box:hover{
background-color:rgb(196, 197, 243) ;
cursor: pointer;


}
.cover-menu{
    position: fixed;
    display: block;
    background-color: rgba(32, 32, 32, 0.646);
    box-shadow: 0px 0px 7px 9px;
    border: 3px solid rgba(85, 85, 85, 0.179);
    color: rgba(56, 56, 54, 0.618);
    margin-top: 43px;
    width: 100vw;
    z-index: 2;
    height: 100vh;
    transition: all .1s;
    animation: toggleAnimation2 .1s ease-out;
    
}
.box-icon{
transform: scale(1.4);
margin-top: 12px;
float: left;
position: relative;
left: 10px;
color: rgba(16, 1, 1, 0.776);


}

h4{
    display: inline-block;
    margin-top: 13px;
font-size: 12px;
font-weight: 350;
font-family: Arial, Helvetica, sans-serif;
    color:rgba(11, 10, 10, 0.654);
text-align: left;
}

@keyframes toggleAnimation{
    from{
        transform: translateY(-40px);
    }

    to{
        transform: translateY(0px);
    }
}
@keyframes toggleAnimation2{
    from{
        opacity: 0;
    }

    to{
        opacity: 1;
    }
}
