.App {
  text-align: center;
  background: linear-gradient(rgb(233,239,248) 3%, rgb(243, 248, 255) 10%);
  overflow: hidden;
}
.decorate{
  position: fixed;
right: 87%;
bottom: 74%;
  background-color: rgba(72, 229, 177, 0);
  width: 230px;
  height: 230px;
  border-radius: 500px;
  box-shadow: 0px 0px 0px 40px #ffffff;
}
